.glyphicon {
    font-size: 32px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/*.form-group {
	display: inline-block
}*/

.media-body{
    vertical-align: middle !important;
}

/* CSS Tests */
/*  .nav-tabs li a {
      color: #777;
 }*/
  .navbar {
      /*font-family: Montserrat, sans-serif;*/
      margin-bottom: 0;
      background-color: #62A8E5;
      border: 0;
      /*font-size: 11px !important;*/
      /*letter-spacing: 4px;*/
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #262424 !important;
  }

  /*Changes color of button text and glyphicons*/
  .navbar-nav li a:hover {
      color: #fff !important;
  }
/*  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #F66141 !important;
  }*/
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }