{% extends "layout.html" %}

{% block title %} ABOUT US {% endblock %}

{% block style %} 
<link rel="stylesheet" href="../static/css/about.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" type="text/css">
{% endblock %}

{% block content %}

<div class="w3-white w3-content" "about-margin">

  <!-- Top menu on small screens -->

  <!-- !PAGE CONTENT! -->
  <div class="w3-main">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large"></div>

    <!-- About section -->
    <div id="about">
      <div class="center">

        <h4 style="font-size:48px"><b>ABOUT US</b></h4>

        <p><b>WTF is WTFColumbia?</b></p> 
          <p>WTFColumbia (What the Fuck Columbia) is a student run web-app dedicated to helping students complain about everything they want to change about Columbia and hopefully enact real change. </p>
          <p><b>WTF is the point?</b></p>
            <p>All the cool kids are doing it! It's obviously fun and interesting to see what your peers hate about this school, but if you need even more incentive, posts that receive enough updates are pushed to ESC and CCSC for actual discussion. </p>
            <hr class="w3-opacity">
          </div>
        </div>

        <!-- Photo grid -->
        <div class="w3-row" id= "myGrid" style = "margin-bottom:128px">
          <div class="w3-third">
            <img alt="image" src="../static/images/vivekpic.jpg" width="100%" height="400">
            <p> Vivek is a sophomore in SEAS studying Operations Research. asdlfjaldfkjladsf lakdjf dkffsaasdfklldskfjlsjflj;lsksdfjadsklfjsfkjsdlf </p>
            <img alt="image" src="../static/images/cesarpic.jpg" width="100%" height="400">
            <p> Cesar is a sophomore in SEAS studying Computer Science. </p>

          </div>

          <div class="w3-third">
            <img alt="image" src="../static/images/myrapic.jpg" width="100%" height="400">
            <p> Myra is a sophomore in SEAS studying Computer Science. The worst thing about Columbia in her opinion is Lerner's design. </p>
            <img alt="image" src="../static/images/arjunpic.jpg" width="100%" height="400">
            <p> Arjun is a sophomore in SEAS. He was the former ESC class president. </p>
          </div>

          <div class="w3-third">
            <img alt="image" src="../static/images/ishaanpic.jpg" width="100%" height="400">
            <p> Ishaan is a sophomore in SEAS majoring in Computer Science and former class treasurer of ESC. He hates _______. </p>
          </div>

        </div>

        <!-- End page content -->
      </div>




</div>
    {% endblock %}