<!DOCTYPE html>
<html>
<title>ABOUT US</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom:-6px;opacity:0.8;cursor:pointer}
.w3-third img:hover{opacity:1}
</style>
<body class="w3-white w3-content" style="margin-left:100px, margin-right:100px">

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">SOME NAME</span>
  <a class="w3-right w3-btn w3-white" onclick="w3_open()">☰</a>
</header>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large"></div>
  
   <!-- About section -->
  <div id="about">
  <div class="center">

    <h4 style="font-size:48px"><b>ABOUT US</b></h4>

      <p><b>WTF is WTFColumbia?</b><p> 
        <p>WTFColumbia (What the Fuck Columbia) is a student run web-app dedicated to helping students complain about everything they want to change about Columbia and hopefully enact real change. </p>
        <p><b>WTF is the point?</b><p>
        <p>All the cool kids are doing it! It's obviously fun and interesting to see what your peers hate about this school, but if you need even more incentive, posts that receive enough updates are pushed to ESC and CCSC for actual discussion. </p>
      <hr class="w3-opacity">
    </div>
  </div>

  <!-- Photo grid -->
  <div class="w3-row" id= "myGrid" style = "margin-bottom:128px">
    <div class="w3-third">
      <img src="vivekpic.jpg" width="100%" height="400">
      <p> Vivek is a sophomore in SEAS studying Operations Research. asdlfjaldfkjladsf lakdjf dkffsaasdfklldskfjlsjflj;lsksdfjadsklfjsfkjsdlf </p>
       <img src="cesarpic.jpg" width="100%" height="400">
       <p> Cesar is a sophomore in SEAS studying Computer Science. </p>
  
    </div>

    <div class="w3-third">
      <img src="myrapic.jpg" width="100%" height="400">
      <p> Myra is a sophomore in SEAS studying Computer Science. The worst thing about Columbia in her opinion is Lerner's design. </p>
      <img src="arjunpic.jpg" width="100%" height="400">
      <p> Arjun is a sophomore in SEAS. He was the former ESC class president. </p>
    </div>

    <div class="w3-third">
      <img src="ishaanpic.jpg" width="100%" height="400">
      <p> Ishaan is a sophomore in SEAS majoring in Computer Science and former class treasurer of ESC. He hates _______. </p>
    </div>
  
  </div>

<!-- End page content -->
</div>


</body>
</html>
