<body>

	<div class="container">
		<h2 class=text-center>Welcome to WTFColumbia! Post your shitty whiny ass WTFs and have a good fucking day LOL.</h2>
		<p>Please fill out the form to maybe possibly probably not get shit fixed dope k bai bitch.</p>
		<form>
			<div class="form-group">
				<input type="text" class="form-control input-lg" id="inputlg">
				<br/>
				<button type="submit" class="btn btn-primary center-block">FIX UR SHIT COLUMBIA YOU STUPID ASS HOE</button>
			</div>
		</form>
	</div>

</body>