<!DOCTYPE html>
<html>
<head>
	<title>WTFColumbia?</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2 class=text-center>Welcome to WTFColumbia! Post your shitty whiny ass WTFs and have a good fucking day LOL.</h2>
		<p>Please fill out the form to maybe possibly probably not get shit fixed dope k bai bitch.</p>
		<form>
			<div class="form-group">
				<input type="text" class="form-control input-lg" id="inputlg">
				<br/>
				<button type="submit" class="btn btn-primary center-block">FIX UR SHIT COLUMBIA YOU STUPID ASS HOE</button>
			</div>
		</form>
	</div>

</body>
</html>