<!DOCTYPE html>
<html>
{% extends "layout.html" %}

	{% block title%}WTF@CU{% endblock %}

	{% block style %}
	<style>
	.parallax {
		/* The image used */
		background-image: 
			linear-gradient(
      			rgba(0, 100, 292, 0.2), 
      			rgba(0, 100, 292, 0.2)
    		),
			url("../static/images/thinking_man.jpg");

		/* Set a specific height */
		min-height: 500px;
		opacity: 0.8;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	</style>

	{% endblock %}
<!-- </head> -->

<!-- <body> -->
{% block content%}
	<div class="parallax">
	</div>

	<!-- <div class = "scrim"></scrim> -->
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="container">
				<h2 class=text-center><b>wtfcolumbia.</b></h2>
				<form method = 'POST' action = '{{url_for('submit_post')}}'>
					<div class="form-group">
						<label for="comment">Submit your WTF (what-to-fix) here!</label>
						<br/>
						<!-- <input type = "text" name = "post_content">  -->
						<label for="title">Title:</label>
						<textarea class="form-control" rows="1" id="title" name = "title_content"></textarea>

						<label for="msg">Message:</label>
						<textarea class="form-control" rows="3" id="msg" name = "post_content"></textarea>

						<label for="tag">Tags:</label>
						<textarea class="form-control" rows="1" id="tag" name = "tag_content"></textarea>

						<label for="upvotes">Test Upvotes:</label>
						<textarea class="form-control" rows="1" id="upvotes" name = "upvote_content"></textarea>

						<label for="downvotes">Test Downvotes:</label>
						<textarea class="form-control" rows="1" id="downvotes" name = "downvote_content"></textarea>
						<!-- <label for="votes">Number of upvotes</label> -->
						<!-- <input type = "text" name = "votes"> -->
						<br/>
						<button type="submit" class="btn btn-primary center-block">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class = "panel-body">
			<div class = "container">
			{% include "posts.html" %}
			</div>
		</div>
	</div>
{% endblock %}
<!-- </body>
</html>
