{% block style %}
	<link rel="stylesheet" href="../static/css/posts.css">
{% endblock %}

{% for post in posts %}
	<div class="panel-body">
		<div class="container-fluid">
			<div class="post-box">
				<h2><b>Title: {{post["title"]}}</b></h2>
				<p>Post: {{post["post_content"]}}</p>
				<p>Tags: {{post["tag"]}}</p>
				<button id="upvoter" class="submit" onclick="upvotePost({{postId}})")>🔥</button>
				<button id="downvoter" class= "submit" onclick="downvotePost({{postId}}")>💩</button>
				<p> User ID: {{post["userID"]}} </p>
			</div>
		</div>
	</div>
	<br>

<script type="text/javascript">
    let upvotePost = (postId) => {
			$.ajax({
        type: "POST",
				data: JSON.stringify({'topic': "what"}),
				contentType: "application/json",
        url: "/upvotes",
        success: function(dataString) {
            console.log("sent");
        }
    	});
		}
	let downvotePost = (postId) => {
			$.ajax({
		type: "POST",
				data: JSON.stringify({'topic': "what"}),
				contentType: "application/json",
		url: "/downvotes",
		success: function(dataString){
			console.log("sent")
		}
		});
		}
</script>

{% endfor %}
