<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<title>WTFCU?</title>
</head>

<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WTFColumbia?</a>
    </div>
  <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search WTFCU">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">MyPage</a></li>
        
      </ul>
      
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">About Us</a></li>
</ul>


<body>

<h3> ***Name of the Post*** <span class="label label-default">WTF</span></h3>

<p style="border:3px; border-style:solid; border-color:#69B3E7; padding: 1em;"> ***Text of the Post*** - This is whatever shit the person posts and complains about Columbia. This can include anything such as HDMI cables not wokring on floor lounges and bullshit like Barnard students aren't allowed in the CCE Engineering Career Fair. </p>


<h3> Comments <span class="label label-default">WTF</span></h3>

<p> This place will have all the comments in bulleted format. It will also have a box where on-click you can add another comment. It will look like this: <br/> <br/>

<p style="border:3px; border-style:solid; border-color:#69B3E7; padding: 1em;"> 1. This is a comment. <br/> </p>
<p style="border:3px; border-style:solid; border-color:#69B3E7; padding: 1em;"> 2. This too is a comment. <br/> </p>
<p style="border:3px; border-style:solid; border-color:#69B3E7; padding: 1em;"> 3. And obviously, this is the last comment. <br/> </p>
</p>

<h3> <label> Add a New Comment... </label> <h3>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Comment...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">WTF!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
